Source: ros-verystable-ros2trace-analysis
Section: misc
Priority: optional
Maintainer: Christophe Bedard <christophe.bedard@apex.ai>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-verystable-ament-copyright, ros-verystable-ament-flake8, ros-verystable-ament-pep257, ros-verystable-ament-xmllint, ros-verystable-ros2cli, ros-verystable-tracetools-analysis, ros-verystable-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-ros2trace-analysis
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-verystable-ros2cli, ros-verystable-tracetools-analysis, ros-verystable-ros-workspace
Description: The trace analysis command for ROS 2 command line tools.
